body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}
.top-nav {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../photo/bg.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.top-nav ul li {
  margin: 0 3px;
  font-weight: bold;
  position: relative;
}
.top-nav ul li:after {
  content: "";
  background-color: white;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 8px;
  bottom: 0;
  transition: all 1s;
}
.top-nav ul li:hover::after {
  width: 80%;
}

.home .content .text h3::after {
  content: "|";
  animation: typing 5s infinite;
  text-transform: capitalize;
}
@keyframes typing {
  0% {
    content: "d|";
  }
  4% {
    content: "de|";
  }

  8% {
    content: "dev|";
  }
  14% {
    content: "deve|";
  }
  18% {
    content: "devel|";
  }
  22% {
    content: "develo|";
  }
  26% {
    content: "develop|";
  }
  30% {
    content: "develope|";
  }

  34% {
    content: "developer|";
  }
  38% {
    content: "developer|";
  }
  42% {
    content: "develope|";
  }
  44% {
    content: "develop|";
  }
  48% {
    content: "develo|";
  }
  52% {
    content: "devel|";
  }
  54% {
    content: "deve|";
  }
  58% {
    content: "dev|";
  }
  62% {
    content: "de|";
  }
  64% {
    content: "d|";
  }
  68% {
    content: "de|";
  }
  72% {
    content: "des|";
  }
  74% {
    content: "desi|";
  }
  78% {
    content: "desig|";
  }
  82% {
    content: "design|";
  }
  84% {
    content: "designe|";
  }
  88% {
    content: "designer|";
  }
  92% {
    content: "designe|";
  }
  94% {
    content: "design|";
  }
  96% {
    content: "desig|";
  }
  98% {
    content: "dei|";
  }
  99% {
    content: "de|";
  }
  100% {
    content: "d|";
  }
}
.home .content .text i {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  padding-top: 6px;
  border-radius: 50%;
  font-size: smaller;
  background-color: black;
}
/* end-home */
/* start-about */
.about .container {
  display: flex;
}

.about .left {
  width: 50%;
}
.about .photo img {
  z-index: 99;
}
.about .photo {
  position: relative;
}
.about .photo::after {
  content: "";
  background-image: url(../photo/dots.png);
  background-repeat: repeat;
  position: absolute;
  width: 70%;
  height: 90%;
  left: 30px;
  bottom: -30px;
}
.about .right {
  width: 50%;
}
.about .progress-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1px 10px;
}
.about .progress,
.progress-stacked {
  height: 20px;
}
.about .buttons button:first-child {
  width: 30%;
  background-color: black;
  color: white;
}
.about .buttons button:first-child:hover {
  background: transparent;
  color: black;
}
.about .buttons button:last-child {
  background-color: transparent;
  color: black;
  width: 30%;
}
.about .buttons button:last-child:hover {
  background-color: black;
  color: white;
}

/* end-about */
/* start-service */
.service {
  background-color: #f7f7f7;
}
.service .title h2 {
  position: relative;
}
.service .title h2::after {
  content: "";
  background-image: url(../photo/dots.png);
  background-repeat: repeat;
  width: 16%;
  height: 10%;
  position: absolute;
  left: 42%;
  bottom: 0;
}
.service .card i {
  padding: 23px;
  font-size: x-large;
  margin: auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #f4f4f4;
  transition: all 0.5s;
}
.service .card:hover i {
  background-color: black;
  color: white;
}
/* end-service */
/* start-portfolio */
.portfolio .title h2 {
  position: relative;
}
.portfolio .title h2::after {
  content: "";
  background-image: url(../photo/dots.png);
  background-repeat: repeat;
  width: 16%;
  height: 10%;
  position: absolute;
  left: 42%;
  bottom: 0;
}
.portfolio .item {
  width: 30%;
  position: relative;
  overflow: hidden;
}
.portfolio .item .layer {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 30%;
  opacity: 0;
  transition: all 1s;
}
.portfolio .item:hover .layer {
  opacity: 1;
}
.portfolio .item .layer i {
  width: 25px;
  padding-top: 4px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid transparent;

  color: white;
}
.portfolio .item .layer i:hover {
  background-color: #f4f4f4;
  border: 2px solid black;
  color: black;
}
.portfolio .nav-link {
  color: black;
  background-color: white;
}
.portfolio .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #f4f4f4;
  background-color: black;
}
.portfolio .nav-tabs {
  border-bottom: 0;
}
/* end-portfolio */
/* start-Testimonials */
.testimonials {
  background-color: #f7f7f7;
}
.testimonials .title h2 {
  position: relative;
}
.testimonials .title h2::after {
  content: "";
  background-image: url(../photo/dots.png);
  background-repeat: repeat;
  width: 23%;
  height: 10%;
  position: absolute;
  left: 39%;
  bottom: 0;
}
.testimonials .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

/* end-Testimonials */
/* start-team */
.team {
  background-color: #f7f7f7;
}
.team .title h2 {
  position: relative;
}
.team .title h2::after {
  content: "";
  background-image: url(../photo/dots.png);
  background-repeat: repeat;
  width: 18%;
  height: 10%;
  position: absolute;
  left: 41%;
  bottom: 0;
}
.team .photo {
  position: relative;
  overflow: hidden;
}

.team .layer {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transform: rotateY(180deg);
  transition: all 1s;
}
.team .layer i {
  padding: 10px 10px;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: 0 5px;
}
.team .layer i:hover {
  background-color: #f4f4f4;
  border: 2px solid black;
  color: black;
}
.team .item img {
  transition: all 1s;
}
.team .item:hover img {
  transform: scale(1.2);
}
.team .item:hover .layer {
  opacity: 1;
  transform: rotateY(360deg);
}
/* end-team */
/* start-contact */
.contact {
  width: 70%;
}
.contact .title h2 {
  position: relative;
}
.contact .title h2::after {
  content: "";
  background-image: url(../photo/dots.png);
  background-repeat: repeat;
  width: 20%;
  height: 10%;
  position: absolute;
  left: 40%;
  bottom: 0;
}

.contact .item i {
  padding: 20px 12.5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f7f7f7;
  transition: all 0.5s;
}
.contact .item:hover i {
  background-color: black;
  color: #f7f7f7;
}

.contact .form-control:focus {
  box-shadow: none;
  border: 0;
}
.contact input {
  width: 100%;
  margin: 10px 0;
  border: 0;
}
.contact button {
  padding: 5px 30px;
  background-color: black;
  color: white;
  border: 2px solid black;
}
.contact button:hover {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
.contact :focus-visible {
  outline: 0;
}

.my-modal {
  position: relative;
  z-index: 10000000000;
}
/* end-contact */

@media screen and (max-width: 996px) {
  .about .container {
    display: block;
  }

  .about .right {
    width: 100%;
  }
  .about .left {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .about .container {
    display: block;
  }

  .about .right {
    width: 100%;
  }
  .about .left {
    width: 100%;
  }
  .portfolio .item {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
}
@media screen and (max-width: 512px) {
  .about .container {
    display: block;
  }

  .about .right {
    width: 100%;
  }
  .about .left {
    width: 100%;
  }
  .portfolio .item {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
}
